apiVersion: apps/v1
kind: Deployment
metadata:
  name: playlist-recommender-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-playlist-recommender
  template:
    metadata:
      labels:
        app: user-playlist-recommender
    spec:
      containers:
      - name: cloud-api
        image: victorhenrique5800/cloud_api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 32171
        volumeMounts:
        - name: pvc-volume
          mountPath: /app
      - name: cloud-ml-trainer
        image: victorhenrique5800/cloud_ml_trainer:latest
        imagePullPolicy: Always
        volumeMounts:
        - name: pvc-volume
          mountPath: /app
      volumes:
      - name: pvc-volume
        persistentVolumeClaim:
          claimName: project2-pv-arthurmadureira
